body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.bg-color1 {
    background-color: #80bb32;
}

.bg-color2 {
    background-color: #f5f7f9;
}

.bg-white {
    background-color: #ffffffff;
}

.text-color1 {
    color: #252525;
}

.border-leftactiv {
    border-left: 3px solid #aebbdf;
}

.border-left {
    border-left: 3px solid #abafae;
}


.text-color2 {
    color: #abafae;
}

.text-color3 {
    color: #6885d5;
}

.text-color4 {
    color: #80bb32;
}

.font-23 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-15 {
    font-size: 15px;
}

.text-align {
    text-align: center;
}

.align-items {
    align-items: center;
}

.paddingleft {
    padding-left: 21px;
}

.paddingzero {
    padding: 0px;
}

.width100 {
    width: 100%;
}

.b_shadow {
    box-shadow: 0 2px 4px 0 rgba(85, 85, 85, 0.2), 0 4px 10px 0 rgba(96, 96, 96, 0.19);
}

.navbarho a.active {
    background-color: #f5f7f9;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbarho a:hover {
    display: block;
    background-color: #f5f7f9;
    color: #6885d5;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.buttonho button:hover {
    background-color: #80bb32;
    color: #f3f3f3;
}