body {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.bg-color1 {
    background-color: #80bb32;
}

.bg-color2 {
    background-color: #f5f7f9;
}

.bg-white {
    background-color: #ffffffff;
}

.text-color1 {
    color: #252525;
}

.text-color2 {
    color: #abafae;
}

.text-color3 {
    color: #aebbdf;
}

.text-color4 {
    color: #80bb32;
}

.font-23 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-15 {
    font-size: 15px;
}

.text-align {
    text-align: center;
}

.align-items {
    align-items: center;
}

.paddingleft {
    padding-left: 21px;
}

.paddingzero {
    padding: 0px;
}

.width100 {
    width: 100%;
}

.navbarho a.active {
    background-color: #f5f7f9;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbarho a:hover {
    background-color: #f5f7f9;
    display: block;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.buttonho button:hover {
    background-color: #80bb32;
    color: #f3f3f3;
}